.card-info {
  margin: 10px;
}

.badge {
  left: 20%;
}

.table {
  width: 35rem;
}

.subject-row {
  display: flex;
  justify-content: space-between;
}

.flex-table {
  display: flex;
}

.card-component {
  width: 820 px;
  height: 820 px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.back-button {
  position: center;
}